{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <style>
        table, th, td {
            border: 1px solid white;
        }
    </style>

    <table>
        <tr>
            <td style="width:200px;">
                <img src="{{ post.teaser }}" alt="Teaser" style="width:200px;">
            </td>
            <td style="text-align: justify;">
                <b>{{post.title}}</b>
                <br>
                {% assign authors = post.authors | split: "," %}
                {% for author in authors %}
                    {%- assign authorC = author | remove: "*" | strip -%}
                    {%- assign authorData = site.data.authors[authorC] -%}
                    {%- if authorData.uri -%}
                        <a href="{{authorData.uri}}">{{authorData.name}}</a>
                    {%- else -%}
                        {%- if authorData.name contains 'Mikhail Okunev' -%}
                            <b>{{authorData.name}}</b>
                        {%- else -%}
                            {{authorData.name}}
                        {%- endif -%}
                    {%- endif -%}
                    {%- if author contains "*" -%}
                        *
                    {%- endif -%}
                    
                    {%- if forloop.last == false -%}
                        , 
                    {% endif %}
                {% endfor %}

                <br>
                <b>tl;dr</b>: {{post.excerpt}}
                <br>
                <font color="green" >{{post.venue}}</font>
                <br>
                {%- if post.paperurl -%}
                    <a href="{{post.paperurl}}">[Paper]</a>
                {%- endif -%}
                {%- if post.videourl -%}
                    <a href="{{post.videourl}}">[Video]</a>
                {%- endif -%}
                {%- if post.projecturl -%}
                    <a href="{{post.projecturl}}">[Project Page]</a>
                {%- endif -%}
            </td>
        </tr>
    </table>
  </article>
</div>
