{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h2 class="archive__item-title" itemprop="headline">
        <a href="{{ post.url | relative_url }}">{{ title }}</a>
    </h2>
    <table>
        <tr>
            Shrink the first column to the width of the image
            <td style="width:100px;">
                <img src="{{ post.teaser }}" alt="Teaser" style="width:100px;height:100px;">
            </td>
            <td>
                <p class="archive__item-excerpt" itemprop="description">
                    {{ post.excerpt | markdownify }}
                </p>
                <p class="archive__item-meta">
                    <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                    {{ post.date | date: site.date_format }}
                    </time>
                </p>
            </td>
        </tr>
    </table>

  </article>
</div>
